<%- include("partials/header") %>

<!-- <form action='/room'>
    <input type="text" name="newRoom" placeholder="Create a new meeting">
    <button>Join</button>
</form> -->

<!-- <form action='/room' method='POST'>
    <input type="text" name="existingRoom" placeholder="Join a meeting">
    <button>Join</button>
</form> -->

<div class="jumbotron">
  <p style="color: white;">Welcome to Video Chat App.</p>
</div>

<%- include("partials/footer") %>
