<%- include("partials/header") %>

<center style="">
  <div class="jumbotron" style="background-color: #0000004a; width: 80%; border-radius: 15px;">
    <img src="css/call.png" alt="" style="width: 200px; padding-right: 50px;">
    <p style="font-family: Lucida Handwriting; color: white; font-size: 45px; text-align: center; display: inline; position: sticky; top: 150px;">Welcome to Video Chat App.</p>
  </div>
</center>
<div>
  <p style="color: white; text-align: center; display: inline-block; padding-left: 100px; padding-right: 80px; padding-top: 30px; position: relative; top: 40px;">
    Video Conferencing is a communications technology that has the ability<br/>
    to meet with people in remote locations without incurring travel expenses or other expenses <br/>
    associated with face to face communication. Business meetings, educational meetings, healthcare <br/>
    conferences and more can all be easily conducted thanks to video conferencing technology. <br/>
    Individuals living in remote areas can also use video conferencing to keep in touch if you will, <br/>
    with the world at large.<br/>
  </p>
  <img style="width: 450px; border-radius: 5px;" src="css/home-1.jpg" alt="Video Call Image">
  <img style="width: 200px; border-radius: 5px; height: 200px; position: relative; right: 100px; top: 100px;" src="css/home-2.jpg" alt="Video Call Image">
  <img style="width: 300px; border-radius: 5px; height: 160px; position: relative; left: 700px; bottom: 50px;" src="css/home-3.jpg" alt="Video Call Image">
</div>

<%- include("partials/footer") %>
