<%- include("partials/header") %>

<link rel="stylesheet" href="./../join.css">

<div class="row">
  <div class="col-sm-3" id="column1">
    <h2>Video Call App</h2>
    <p><br>Video conferencing is a technology that allows users in
      different locations to hold face-to-face meetings without <br/>
      having to move to a single location together.
      This technology is particularly convenient for business <br/>
      users in different cities or even different countries because
      it saves time, expenses, and hassles associated with business travel.<br/></p>

    <form action='/<%= user._id %>/join' method="POST" id="form1">
        <button id="btn1" class="btn btn-success">Create a new meeting</button>
    </form>
    <form action='/<%= user._id %>/joinExisting' method="POST" id="form2">
      <span id="or"> OR </span>
        <input class="form-rounded" type="text" name="existingRoom" placeholder="Enter a code">
        <button class="btn btn-success" id="btn2">Join</button>
    </form>
  </div>
  <div class="col-sm-5" id="column2">
    <img src="https://www.cnet.com/a/img/L25_mhBJJSvo4gPDIlVnCDjlLos=/940x0/2019/04/05/dca690a2-c5ae-416a-aade-a758b76bd2c7/skype.jpg"  class="rounded" alt="Video Call">
  </div>
</div>
<%- include("partials/footer") %>
