<%- include("partials/header") %>

<link rel="stylesheet" href="index_style.css">

<div class="container">
    <br/>
    <b id="login-name"><center>Register</center> </b>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="login">
            <form action="/register" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label class="user"> FirstName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> LastName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> UserName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> Email  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" placeholder="Email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> Image  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-picture"></i></span>
                        <span class="form-control" id="check" style="width: 80.5%; border-radius: 4px; color: #808080cf;">No file uploaded</span>
                        <input type="file" id="myImg" name="image" placeholder="Upload an image" value="upload" onchange="Uploaded()" style="width: 75px; padding-top: 5px;">
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> Password </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn1"> <i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                    </div>
                </div>

                <br/>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="register" style="border-radius:0px;">
                    <input type="reset" class="btn btn-danger" value="reset" style="border-radius:0px;">
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <p>Already have an account?
                <a href="/login" style="color: white;"> Login </a></p>
            </form>
        </div>
	</div>
</div>

<script type="text/javascript">
  function Uploaded() {
    document.getElementById('check').innerHTML = 'File Uploaded <span class="glyphicon glyphicon-saved"></span>';
  }
</script>

<%- include("partials/footer") %>
