<%- include("partials/header") %>

<!-- <h1>Register</h1>
<form action="/register" method="POST">
    <input type="text" name="firstname" placeholder="First Name" required>
    <input type="text" name="lastname" placeholder="Last Name" required>
    <input type="text" name="username" placeholder="Handle name" required>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button>Sign Up</button>
</form>

<p>Already a user <a href="/login">Sign In?</a> </p> -->


<link rel="stylesheet" href="index_style.css">

<!-- <script type="text/javascript">
  function uploadImage() {
    var x = document.createElement("INPUT");
    x.setAttribute("type", "file");
    document.body.appendChild(x);
    console.log(x);
  }
</script> -->

<div class="container">
    <br/>
    <b id="login-name"><center>Register</center> </b>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="login">
            <form action="/register" method="POST">

                <div class="form-group">
                    <label class="user"> FirstName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> LastName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> UserName  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="user"> Email  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn"> <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" placeholder="Email" required>
                    </div>
                </div>

                <!-- <button onclick="uploadImage()">Try it</button> -->

                <div class="form-group">
                    <label class="user"> Password </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="iconn1"> <i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Enter Password" required>
                    </div>
                </div>

                <br/>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="register" style="border-radius:0px;">
                    <input type="reset" class="btn btn-danger" value="reset" style="border-radius:0px;">
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <p style="color: white; font-size: 15px; float: right; margin-right: 10px;">Already have an account?
                <a href="/login" style="color: white;"> Login </a></p>
            </form>
        </div>
	</div>
</div>

<%- include("partials/footer") %>
